In [ ]:
!pip install "snowflake-connector-python[pandas]" "snowflake-snowpark-python[pandas]" snowflake-snowpark-python==1.9.0
!pip install --upgrade --q snowflake-snowpark-python==1.9.0
!pip install mlxtend

Collecting snowflake-connector-python[pandas]
  Using cached https://files.pythonhosted.org/packages/c0/7d/6ab21288a55560a895dfbc589eb3acbda9918fbf06cd0d405f150b9561e4/snowflake_connector_python-3.12.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
Collecting snowflake-snowpark-python[pandas]
  Using cached https://files.pythonhosted.org/packages/77/fd/f4cb374a50559c996f62a4367fa4919c7a52932326c086b9e7496cd786c6/snowflake_snowpark_python-1.20.0-py3-none-any.whl
Collecting pyOpenSSL<25.0.0,>=16.2.0
  Using cached https://files.pythonhosted.org/packages/d9/dd/e0aa7ebef5168c75b772eda64978c597a9129b46be17779054652a7999e4/pyOpenSSL-24.2.1-py3-none-any.whl
Collecting requests<3.0.0
  Using cached https://files.pythonhosted.org/packages/f9/9b/335f9764261e915ed497fcdeb11df5dfd6f7bf257d4a6a2a686d80da4d54/requests-2.32.3-py3-none-any.whl
Collecting filelock<4,>=3.5
  Using cached https://files.pythonhosted.org/packages/ae/f0/48285f0262fe47103a4a45972ed2f9b93e4c80b8fd609fa98da78b2a5706/filelock-3.15.4-py3-none-any.whl
Collecting charset-normalizer<4,>=2
  Using cached https://files.pythonhosted.org/packages/3d/09/d82fe4a34c5f0585f9ea1df090e2a71eb9bb1e469723053e1ee9f57c16f3/charset_normalizer-3.3.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
Collecting urllib3<2.0.0,>=1.21.1; python_version < "3.10"
  Using cached https://files.pythonhosted.org/packages/ae/6a/99eaaeae8becaa17a29aeb334a18e5d582d873b6f084c11f02581b8d7f7f/urllib3-1.26.19-py2.py3-none-any.whl
Collecting certifi>=2017.4.17
  Using cached https://files.pythonhosted.org/packages/1c/d5/c84e1a17bf61d4df64ca866a1c9a913874b4e9bdc131ec689a0ad013fb36/certifi-2024.7.4-py3-none-any.whl
Collecting asn1crypto<2.0.0,>0.24.0
  Using cached https://files.pythonhosted.org/packages/c9/7f/09065fd9e27da0eda08b4d6897f1c13535066174cc023af248fc2a8d5e5a/asn1crypto-1.5.1-py2.py3-none-any.whl
Collecting pyjwt<3.0.0
  Using cached https://files.pythonhosted.org/packages/79/84/0fdf9b18ba31d69877bd39c9cd6052b47f3761e9910c15de788e519f079f/PyJWT-2.9.0-py3-none-any.whl
Collecting sortedcontainers>=2.4.0
  Using cached https://files.pythonhosted.org/packages/32/46/9cb0e58b2deb7f82b84065f37f3bffeb12413f947f9388e4cac22c4621ce/sortedcontainers-2.4.0-py2.py3-none-any.whl
Collecting tomlkit
  Using cached https://files.pythonhosted.org/packages/fd/7c/b753bf603852cab0a660da6e81f4ea5d2ca0f0b2b4870766d7aa9bceb7a2/tomlkit-0.13.0-py3-none-any.whl
Collecting platformdirs<5.0.0,>=2.6.0
  Using cached https://files.pythonhosted.org/packages/68/13/2aa1f0e1364feb2c9ef45302f387ac0bd81484e9c9a4c5688a322fbdfd08/platformdirs-4.2.2-py3-none-any.whl
Collecting pytz
  Using cached https://files.pythonhosted.org/packages/9c/3d/a121f284241f08268b21359bd425f7d4825cffc5ac5cd0e1b3d82ffd2b10/pytz-2024.1-py2.py3-none-any.whl
Collecting idna<4,>=2.5
  Using cached https://files.pythonhosted.org/packages/e5/3e/741d8c82801c347547f8a2a06aa57dbb1992be9e948df2ea0eda2c8b79e8/idna-3.7-py3-none-any.whl
Collecting cryptography<43.0.0,>=3.1.0
  Using cached https://files.pythonhosted.org/packages/35/66/2d87e9ca95c82c7ee5f2c09716fc4c4242c1ae6647b9bd27e55e920e9f10/cryptography-42.0.8-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
Collecting cffi<2.0.0,>=1.9
  Using cached https://files.pythonhosted.org/packages/f1/c9/326611aa83e16b13b6db4dbb73b5455c668159a003c4c2f0c3bcb2ddabaf/cffi-1.16.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
Collecting typing-extensions<5,>=4.3
  Using cached https://files.pythonhosted.org/packages/26/9f/ad63fc0248c5379346306f8668cda6e2e2e9c95e01216d2b8ffd9ff037d0/typing_extensions-4.12.2-py3-none-any.whl
Collecting packaging
  Using cached https://files.pythonhosted.org/packages/08/aa/cc0199a5f0ad350994d660967a8efb233fe0416e4639146c089643407ce6/packaging-24.1-py3-none-any.whl
Collecting pyarrow; extra == "pandas"
  Using cached https://files.pythonhosted.org/packages/3f/08/bc497130789833de09e345e3ce4647e3ce86517c4f70f2144f0367ca378b/pyarrow-17.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
Collecting pandas<3.0.0,>=1.0.0; extra == "pandas"
  Using cached https://files.pythonhosted.org/packages/f8/7f/5b047effafbdd34e52c9e2d7e44f729a0655efafb22198c45cf692cdc157/pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
Collecting pyyaml
  Using cached https://files.pythonhosted.org/packages/c8/6b/6600ac24725c7388255b2f5add93f91e58a5d7efaf4af244fdbcc11a541b/PyYAML-6.0.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
Collecting setuptools>=40.6.0
  Using cached https://files.pythonhosted.org/packages/e1/58/e0ef3b9974a04ce9cde2a7a33881ddcb2d68450803745804545cdd8d258f/setuptools-72.1.0-py3-none-any.whl
Collecting cloudpickle!=2.1.0,!=2.2.0,<=2.2.1,>=1.6.0; python_version < "3.11"
  Using cached https://files.pythonhosted.org/packages/15/80/44286939ca215e88fa827b2aeb6fa3fd2b4a7af322485c7170d6f9fd96e0/cloudpickle-2.2.1-py3-none-any.whl
Collecting wheel
  Using cached https://files.pythonhosted.org/packages/1b/d1/9babe2ccaecff775992753d8686970b1e2755d21c8a63be73aba7a4e7d77/wheel-0.44.0-py3-none-any.whl
Collecting pycparser
  Using cached https://files.pythonhosted.org/packages/13/a3/a812df4e2dd5696d1f351d58b8fe16a405b234ad2886a0dab9183fb78109/pycparser-2.22-py3-none-any.whl
Collecting numpy>=1.16.6
  Using cached https://files.pythonhosted.org/packages/98/5d/5738903efe0ecb73e51eb44feafba32bdba2081263d40c5043568ff60faf/numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
Collecting tzdata>=2022.1
  Using cached https://files.pythonhosted.org/packages/65/58/f9c9e6be752e9fcb8b6a0ee9fb87e6e7a1f6bcab2cdc73f02bb7ba91ada0/tzdata-2024.1-py2.py3-none-any.whl
Collecting python-dateutil>=2.8.2
  Using cached https://files.pythonhosted.org/packages/ec/57/56b9bcc3c9c6a792fcbaf139543cee77261f3651ca9da0c93f5c1221264b/python_dateutil-2.9.0.post0-py2.py3-none-any.whl
Collecting six>=1.5
  Using cached https://files.pythonhosted.org/packages/d9/5a/e7c31adbe875f2abbb91bd84cf2dc52d792b5a01506781dbcf25c91daf11/six-1.16.0-py2.py3-none-any.whl

In [2]:
import os
from snowflake.snowpark.session import Session
user = os.getenv("user")
warehouse = os.getenv("Warehouse")
schema= os.getenv("SCHEMA")
database = os.getenv("Database")
role =  os.getenv("ROLE")
account =  os.getenv("Account")
password= os.getenv("Password")

connection_params = dict(user=user, 
                         password=password, 
                         account=account, 
                         warehouse=warehouse, 
                         database=database,
                         schema=schema, 
                         role=role)

session = Session.builder.configs(connection_params).create()

session.sql('use warehouse {};'.format(warehouse)).collect()

session.sql('use database {};'.format(database)).collect()

session.sql('use schema {}.{};'.format(database, schema)).collect()

[Row(status='Statement executed successfully.')]

In [3]:
dataset=session.sql("select * from RETAIL_DB.RETAIL_MKT_BSKT_SCHEMA.product_sales").to_pandas()

In [4]:
#from refractio import snowflake
#snowflake.get_connection("RETAIL_MKT_BSKT_CXN")
#dataset = snowflake.execute_query(f"RETAIL_DB.RETAIL_MKT_BSKT_SCHEMA.product_sales")
dataset

,CUSTOMER_ID,CUSTOMER_NAME,SEGMENT,CITY,STATE,COUNTRY,MARKET,REGION,ORDER_DATE,ORDER_ID,PRODUCT_ID,PRODUCT,QUANTITY,UNIT_PRICE,SHIP_MODE,TOTAL_SALES
0,MH-7455,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,2022-04-30,BU-2013-7380,10002439,shrimp,167,74.69,Standard Class,12473.23
1,MH-7455,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,2022-04-30,BU-2013-7380,10000353,almonds,278,15.28,Standard Class,4247.84
2,MH-7455,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,2022-04-30,BU-2013-7380,10000994,avocado,324,46.33,Standard Class,15010.92
3,MH-7455,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,2022-04-30,BU-2013-7380,10000475,vegetables mix,124,58.22,Standard Class,7219.28
4,MH-7455,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,2022-04-30,BU-2013-7380,10004632,cottage cheese,148,73.56,Standard Class,10886.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71656,CG-12040,Catherine Glotzbach,Home Office,Camag?ey,Camag?ey,Cuba,LATAM,Caribbean,2024-06-29,MX-2013-165708,10002981,onions,10,19.15,Standard Class,191.50
71657,EG-13900,Emily Grady,Consumer,Puteaux,Ile-de-France,France,EU,Central,2024-06-29,US-2013-150861,10002981,onions,10,19.15,First Class,191.50
71658,Dp-13240,Dean percer,Home Office,Westfield,New Jersey,United States,US,East,2024-06-30,MX-2013-118577,10002981,onions,10,19.15,Standard Class,191.50
71659,RB-9330,Randy Bradley,Consumer,Donets'k,Donetsk,Ukraine,EMEA,Middle Eastern,2024-06-30,UP-2013-6200,10002981,onions,10,19.15,Standard Class,191.50
71660,GK-14620,Grace Kelly,Corporate,Lima,Lima (city),Peru,LATAM,South,2024-06-30,US-2013-151225,10002981,onions,10,19.15,Standard Class,191.50

In [5]:
import pandas as pd
product_set=dataset.groupby("ORDER_ID")["PRODUCT"].apply(set).to_dict()

In [6]:
filter_basket = {key:value for key, value in product_set.items() if len(value)>1}
List_order_id=list(filter_basket.keys())
List_product_id=[list(values) for values in filter_basket.values()]
dict1={"ORDER_ID":List_order_id,"PRODUCT":List_product_id}
df1=pd.DataFrame(dict1)
df1

           ORDER_ID                                            PRODUCT
0      AE-2013-1130  [frozen vegetables, burgers, cooking oil, ham,...
1      AE-2013-1530  [cottage cheese, mushroom cream sauce, cooking...
2      AE-2014-2840  [baking powder, yogurt, sugar, newspapers, fru...
3      AE-2014-4120                 [other vegetables, red/blush wine]
4      AG-2013-2840  [french fries, green tea, grated cheese, avocado]
...             ...                                                ...
12116  ZI-2014-6740  [red/blush wine, yogurt, newspapers, canned be...
12117  ZI-2014-6750                       [eggs, coffee, french fries]
12118  ZI-2014-7160      [whole milk, other vegetables, chicken, meat]
12119  ZI-2014-9540  [whole milk, yogurt, canned vegetables, soda, ...
12120  ZI-2014-9550                            [soda, sugar, UHT-milk]

[12121 rows x 2 columns]

In [7]:
# Create a list of unique items
unique_items = sorted(set(item for sublist in df1['PRODUCT'] for item in sublist))
 
# Initialize an empty dictionary to hold binary values for each item
binary_data = {item: [] for item in unique_items}
 
# Iterate over each row in the original DataFrame
for bought_together in df1['PRODUCT']:
    # Initialize a binary row for the current transaction
    binary_row = {item: 0 for item in unique_items}
    # Set the value to 1 if the item was bought in the transaction
    for item in bought_together:
        binary_row[item] = 1
    # Append the binary row to the binary_data dictionary
    for item, value in binary_row.items():
        binary_data[item].append(value)
 
#Create a DataFrame from the dictionary
binary_df = pd.DataFrame(binary_data)
 
# Concatenate with the original DataFrame
binary_df2 = pd.concat([df1['ORDER_ID'], binary_df], axis=1)
 
# Display the binary DataFrame
binary_df

,UHT-milk,almonds,avocado,baking powder,beef,berries,beverages,black tea,bottled beer,bottled water,...,vegetables mix,waffles,whipped/sour cream,white bread,white wine,whole milk,whole wheat pasta,whole wheat rice,yogurt,yogurt cake
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12116,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12118,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
12119,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
12120,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd
# Load your dataset
frequent_itemsets = apriori(binary_df, min_support=0.01, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
# Filter rules based on desired metrics
#rules
filtered_rules = pd.DataFrame(rules[(rules['confidence'] > 0.01) & (rules['lift'] > 0.05)])
#
# # Print the filtered rules
filtered_rules

ModuleNotFoundError: No module named 'mlxtend'

In [ ]:
frequent_itemsets

In [ ]:
rules

In [ ]:
filtered_rules = filtered_rules.rename(columns={'antecedents': 'product' , 'consequents': 'recommendation' , 'antecedent support': 'product_support','consequent support': 'recommendation_support' })

In [ ]:
import json
filtered_rules['product'] = list(filtered_rules['product'])
file = 'filtered_rules.csv'
filtered_rules.to_csv(file , index=False)

In [ ]:
snowflake.execute_query(f"PUT file://{file} @RETAIL_DB.RETAIL_MKT_BSKT_SCHEMA.RETAIL_MKT_BSKT_STAGE")

In [ ]:
#pip install fosforml

In [ ]:
#from fosforml import *

In [ ]:
input_file = pd.read_csv("Order_Inventory.csv")
input_file

In [ ]:
req = requests.Request()
req.file = "Order_Inventory.csv"

In [ ]:
pd.read_csv(req.file)

In [ ]:
from refractml import *
from refractml.constants import MLModelFlavours
import requests

@scoring_func
def score(model, request):
    import json
    payload = request.json["payload"]
    if isinstance(request.json["payload"],str):
        payload_data = eval(payload)
        if isinstance(payload_data['Geography'], str):
            data_json = eval(payload)
            data = pd.DataFrame([data_json])
            prediction = pd.DataFrame(model.predict(data))
            return prediction[0].to_list()[0]
        elif isinstance(payload_data['Geography'], dict):
            data = pd.DataFrame(eval(payload))
            prediction = pd.DataFrame(model.predict(data))
            return prediction[0].tolist()
        elif isinstance(payload_data['Geography'], list):
            data = pd.DataFrame(payload_data)
            prediction = model.predict(data)
            return prediction.tolist()
    return "This method is not allowed"

payload = str(X.iloc[158].to_dict())
req = requests.Request()
req.json= {'payload': payload}
print({'payload': payload})

In [ ]:
snowflake.get_connection('RETAIL_MKT_BSKT_CXN')