In [ ]:
!pip install "snowflake-connector-python[pandas]" "snowflake-snowpark-python[pandas]" snowflake-snowpark-python==1.9.0
!pip install --upgrade --q snowflake-snowpark-python==1.9.0
!pip install mlxtend
!pip install refractio

In [1]:
import os
from snowflake.snowpark.session import Session
user = os.getenv("user")
warehouse = os.getenv("Warehouse")
schema= os.getenv("SCHEMA")
database = os.getenv("Database")
role =  os.getenv("ROLE")
account =  os.getenv("Account")
password= os.getenv("Password")

connection_params = dict(user=user, 
                         password=password, 
                         account=account, 
                         warehouse=warehouse, 
                         database=database,
                         schema=schema, 
                         role=role)

session = Session.builder.configs(connection_params).create()

session.sql('use warehouse {};'.format(warehouse)).collect()

session.sql('use database {};'.format(database)).collect()

session.sql('use schema {}.{};'.format(database, schema)).collect()

[Row(status='Statement executed successfully.')]

In [2]:
dataset=session.sql("select * from RETAIL_DB.RETAIL_MKT_BSKT_SCHEMA.product_sales").to_pandas()

In [3]:
from refractio import snowflake
#snowflake.get_connection("RETAIL_MKT_BSKT_CXN")
#dataset = snowflake.execute_query(f"RETAIL_DB.RETAIL_MKT_BSKT_SCHEMA.product_sales")
dataset

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

,CUSTOMER_ID,CUSTOMER_NAME,SEGMENT,CITY,STATE,COUNTRY,MARKET,REGION,ORDER_DATE,ORDER_ID,PRODUCT_ID,PRODUCT,QUANTITY,UNIT_PRICE,SHIP_MODE,TOTAL_SALES
0,MH-7455,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,2022-04-30,BU-2013-7380,10002439,shrimp,167,74.69,Standard Class,12473.23
1,MH-7455,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,2022-04-30,BU-2013-7380,10000353,almonds,278,15.28,Standard Class,4247.84
2,MH-7455,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,2022-04-30,BU-2013-7380,10000994,avocado,324,46.33,Standard Class,15010.92
3,MH-7455,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,2022-04-30,BU-2013-7380,10000475,vegetables mix,124,58.22,Standard Class,7219.28
4,MH-7455,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,2022-04-30,BU-2013-7380,10004632,cottage cheese,148,73.56,Standard Class,10886.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71656,CG-12040,Catherine Glotzbach,Home Office,Camag?ey,Camag?ey,Cuba,LATAM,Caribbean,2024-06-29,MX-2013-165708,10002981,onions,10,19.15,Standard Class,191.50
71657,EG-13900,Emily Grady,Consumer,Puteaux,Ile-de-France,France,EU,Central,2024-06-29,US-2013-150861,10002981,onions,10,19.15,First Class,191.50
71658,Dp-13240,Dean percer,Home Office,Westfield,New Jersey,United States,US,East,2024-06-30,MX-2013-118577,10002981,onions,10,19.15,Standard Class,191.50
71659,RB-9330,Randy Bradley,Consumer,Donets'k,Donetsk,Ukraine,EMEA,Middle Eastern,2024-06-30,UP-2013-6200,10002981,onions,10,19.15,Standard Class,191.50
71660,GK-14620,Grace Kelly,Corporate,Lima,Lima (city),Peru,LATAM,South,2024-06-30,US-2013-151225,10002981,onions,10,19.15,Standard Class,191.50

In [4]:
import pandas as pd
product_set=dataset.groupby("ORDER_ID")["PRODUCT"].apply(set).to_dict()

In [5]:
filter_basket = {key:value for key, value in product_set.items() if len(value)>1}
List_order_id=list(filter_basket.keys())
List_product_id=[list(values) for values in filter_basket.values()]
dict1={"ORDER_ID":List_order_id,"PRODUCT":List_product_id}
df1=pd.DataFrame(dict1)
df1

           ORDER_ID                                            PRODUCT
0      AE-2013-1130  [tomato juice, cooking oil, eggs, burgers, fro...
1      AE-2013-1530  [turkey, cottage cheese, cooking oil, chocolat...
2      AE-2014-2840  [baking powder, newspapers, sugar, fruit/veget...
3      AE-2014-4120                 [other vegetables, red/blush wine]
4      AG-2013-2840  [avocado, green tea, grated cheese, french fries]
...             ...                                                ...
12116  ZI-2014-6740  [tropical fruit, canned beer, red/blush wine, ...
12117  ZI-2014-6750                       [eggs, french fries, coffee]
12118  ZI-2014-7160      [other vegetables, meat, chicken, whole milk]
12119  ZI-2014-9540  [curd, soda, whipped/sour cream, canned vegeta...
12120  ZI-2014-9550                            [soda, sugar, UHT-milk]

[12121 rows x 2 columns]

In [ ]:
# Create a list of unique items
unique_items = sorted(set(item for sublist in df1['PRODUCT'] for item in sublist))
 
# Initialize an empty dictionary to hold binary values for each item
binary_data = {item: [] for item in unique_items}
 
# Iterate over each row in the original DataFrame
for bought_together in df1['PRODUCT']:
    # Initialize a binary row for the current transaction
    binary_row = {item: 0 for item in unique_items}
    # Set the value to 1 if the item was bought in the transaction
    for item in bought_together:
        binary_row[item] = 1
    # Append the binary row to the binary_data dictionary
    for item, value in binary_row.items():
        binary_data[item].append(value)
 
#Create a DataFrame from the dictionary
binary_df = pd.DataFrame(binary_data)
 
# Concatenate with the original DataFrame
binary_df2 = pd.concat([df1['ORDER_ID'], binary_df], axis=1)
 
# Display the binary DataFrame
binary_df

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd
# Load your dataset
frequent_itemsets = apriori(binary_df, min_support=0.01, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
# Filter rules based on desired metrics
#rules
filtered_rules = pd.DataFrame(rules[(rules['confidence'] > 0.01) & (rules['lift'] > 0.05)])
#
# # Print the filtered rules
filtered_rules

In [ ]:
frequent_itemsets

In [ ]:
rules

In [ ]:
filtered_rules = filtered_rules.rename(columns={'antecedents': 'product' , 'consequents': 'recommendation' , 'antecedent support': 'product_support','consequent support': 'recommendation_support' })

In [ ]:
import json
filtered_rules['product'] = list(filtered_rules['product'])
file = 'filtered_rules.csv'
filtered_rules.to_csv(file , index=False)

In [ ]:
snowflake.execute_query(f"PUT file://{file} @RETAIL_DB.RETAIL_MKT_BSKT_SCHEMA.RETAIL_MKT_BSKT_STAGE")

In [ ]:
#pip install fosforml

In [ ]:
#from fosforml import *

In [ ]:
input_file = pd.read_csv("Order_Inventory.csv")
input_file

In [ ]:
req = requests.Request()
req.file = "Order_Inventory.csv"

In [ ]:
pd.read_csv(req.file)

In [ ]:
from refractml import *
from refractml.constants import MLModelFlavours
import requests

@scoring_func
def score(model, request):
    import json
    payload = request.json["payload"]
    if isinstance(request.json["payload"],str):
        payload_data = eval(payload)
        if isinstance(payload_data['Geography'], str):
            data_json = eval(payload)
            data = pd.DataFrame([data_json])
            prediction = pd.DataFrame(model.predict(data))
            return prediction[0].to_list()[0]
        elif isinstance(payload_data['Geography'], dict):
            data = pd.DataFrame(eval(payload))
            prediction = pd.DataFrame(model.predict(data))
            return prediction[0].tolist()
        elif isinstance(payload_data['Geography'], list):
            data = pd.DataFrame(payload_data)
            prediction = model.predict(data)
            return prediction.tolist()
    return "This method is not allowed"

payload = str(X.iloc[158].to_dict())
req = requests.Request()
req.json= {'payload': payload}
print({'payload': payload})

In [ ]:
snowflake.get_connection('RETAIL_MKT_BSKT_CXN')