In [1]:
import pandas as pd 
dataset = pd.DataFrame(pd.read_csv("Market_Basket_Analysis_v1.csv"))
dataset

,Order Date,Order ID,Customer ID,Ship Mode,Description,Information,Customer Name,Segment,City,State,Country,Market,Region,Attribute,Item Name,Quantity,Product ID,Unit Price,Total Sales
0,31-01-2021 00:00,BU-2013-7380,MH-7455,Standard Class,BU-2013-7380MH-7455Mark Hamilton,MH-7455Mark HamiltonConsumerBurgasBurgas,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,Item name1,shrimp,167,10002439.0,74.69,12473.23
1,31-01-2021 00:00,BU-2013-7380,MH-7455,Standard Class,BU-2013-7380MH-7455Mark Hamilton,MH-7455Mark HamiltonConsumerBurgasBurgas,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,Item name2,almonds,278,10000353.0,15.28,4247.84
2,31-01-2021 00:00,BU-2013-7380,MH-7455,Standard Class,BU-2013-7380MH-7455Mark Hamilton,MH-7455Mark HamiltonConsumerBurgasBurgas,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,Item name3,avocado,324,10000994.0,46.33,15010.92
3,31-01-2021 00:00,BU-2013-7380,MH-7455,Standard Class,BU-2013-7380MH-7455Mark Hamilton,MH-7455Mark HamiltonConsumerBurgasBurgas,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,Item name4,vegetables mix,124,10000475.0,58.22,7219.28
4,31-01-2021 00:00,BU-2013-7380,MH-7455,Standard Class,BU-2013-7380MH-7455Mark Hamilton,MH-7455Mark HamiltonConsumerBurgasBurgas,Mark Hamilton,Consumer,Burgas,Burgas,Bulgaria,EMEA,Middle Eastern,Item name5,green grapes,680,10003338.0,86.31,58690.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72624,30-03-2023 00:00,US-2013-151225,GK-14620,Standard Class,US-2013-151225GK-14620Grace Kelly,GK-14620Grace KellyCorporateLimaLima (city),Grace Kelly,Corporate,Lima,Lima (city),Peru,LATAM,South,Item name1,chicken,290,10004883.0,86.72,25148.80
72625,30-03-2023 00:00,US-2013-151225,GK-14620,Standard Class,US-2013-151225GK-14620Grace Kelly,GK-14620Grace KellyCorporateLimaLima (city),Grace Kelly,Corporate,Lima,Lima (city),Peru,LATAM,South,Item name2,tropical fruit,314,10001990.0,56.47,17731.58
72626,30-03-2023 00:00,US-2013-151225,GK-14620,Standard Class,US-2013-151225GK-14620Grace Kelly,GK-14620Grace KellyCorporateLimaLima (city),Grace Kelly,Corporate,Lima,Lima (city),Peru,LATAM,South,Item name3,other vegetables,447,10000425.0,92.13,41182.11
72627,30-03-2023 00:00,US-2013-151225,GK-14620,Standard Class,US-2013-151225GK-14620Grace Kelly,GK-14620Grace KellyCorporateLimaLima (city),Grace Kelly,Corporate,Lima,Lima (city),Peru,LATAM,South,Item name4,vinegar,701,10001410.0,89.69,62872.69
72628,30-03-2023 00:00,US-2013-151225,GK-14620,Standard Class,US-2013-151225GK-14620Grace Kelly,GK-14620Grace KellyCorporateLimaLima (city),Grace Kelly,Corporate,Lima,Lima (city),Peru,LATAM,South,Item name5,shopping bags,2143,10000139.0,95.58,204827.94

In [2]:
product_set=dataset.groupby("Order ID")["Item Name"].apply(set).to_dict()

In [3]:
filter_basket = {key:value for key, value in product_set.items() if len(value)>1}
List_order_id=list(filter_basket.keys())
List_product_id=[list(values) for values in filter_basket.values()]
dict1={"Order_ID":List_order_id,"Product_ID":List_product_id}
df1=pd.DataFrame(dict1)
print(df1)

           Order_ID                                         Product_ID
0      AE-2013-1130  [frozen vegetables, escalope, green tea, ham, ...
1      AE-2013-1530  [mushroom cream sauce, turkey, cottage cheese,...
2      AE-2014-2840  [fruit/vegetable juice, newspapers, baking pow...
3      AE-2014-4120                 [red/blush wine, other vegetables]
4      AG-2013-2840  [french fries, grated cheese, avocado, green tea]
...             ...                                                ...
12160  ZI-2014-6740  [beef, canned fish, brown bread, newspapers, c...
12161  ZI-2014-6750                        [salad, french fries, eggs]
12162  ZI-2014-7160      [meat, chicken, other vegetables, whole milk]
12163  ZI-2014-9540  [canned vegetables, whole milk, curd, soda, wh...
12164  ZI-2014-9550                            [soda, UHT-milk, sugar]

[12165 rows x 2 columns]

In [4]:
# Create a list of unique items
unique_items = sorted(set(item for sublist in df1['Product_ID'] for item in sublist))
 
# Initialize an empty dictionary to hold binary values for each item
binary_data = {item: [] for item in unique_items}
 
# Iterate over each row in the original DataFrame
for bought_together in df1['Product_ID']:
    # Initialize a binary row for the current transaction
    binary_row = {item: 0 for item in unique_items}
    # Set the value to 1 if the item was bought in the transaction
    for item in bought_together:
        binary_row[item] = 1
    # Append the binary row to the binary_data dictionary
    for item, value in binary_row.items():
        binary_data[item].append(value)
 
#Create a DataFrame from the dictionary
binary_df = pd.DataFrame(binary_data)
 
# Concatenate with the original DataFrame
binary_df2 = pd.concat([df1['Order_ID'], binary_df], axis=1)
 
# Display the binary DataFrame
print(binary_df)

       Instant food products  UHT-milk  abrasive cleaner  almonds  \
0                          0         0                 0        0
1                          0         0                 0        0
2                          0         0                 0        0
3                          0         0                 0        0
4                          0         0                 0        0
...                      ...       ...               ...      ...
12160                      0         0                 0        0
12161                      0         0                 0        0
12162                      0         0                 0        0
12163                      0         0                 0        0
12164                      0         1                 0        0

       antioxydant juice  artif. sweetener  asparagus  avocado  babies food  \
0                      0                 0          0        0            0
1                      0                 0          0        0            0
2                      0                 0          0        0            0
3                      0                 0          0        0            0
4                      0                 0          0        1            0
...                  ...               ...        ...      ...          ...
12160                  0                 0          0        0            0
12161                  0                 0          0        0            0
12162                  0                 0          0        0            0
12163                  0                 0          0        0            0
12164                  0                 0          0        0            0

       baby cosmetics  ...  white wine  whole milk  whole weat flour  \
0                   0  ...           0           0                 0
1                   0  ...           0           0                 0
2                   0  ...           0           0                 0
3                   0  ...           0           0                 0
4                   0  ...           0           0                 0
...               ...  ...         ...         ...               ...
12160               0  ...           0           0                 0
12161               0  ...           0           0                 0
12162               0  ...           0           1                 0
12163               0  ...           0           1                 0
12164               0  ...           0           0                 0

       whole wheat pasta  whole wheat rice  yams  yogurt  yogurt cake  \
0                      0                 0     0       0            0
1                      0                 0     0       0            0
2                      0                 0     0       1            0
3                      0                 0     0       0            0
4                      0                 0     0       0            0
...                  ...               ...   ...     ...          ...
12160                  0                 0     0       1            0
12161                  0                 0     0       0            0
12162                  0                 0     0       0            0
12163                  0                 0     0       1            0
12164                  0                 0     0       0            0

       zucchini  zwieback
0             0         0
1             0         0
2             0         0
3             0         0
4             0         0
...         ...       ...
12160         0         0
12161         0         0
12162         0         0
12163         0         0
12164         0         0

[12165 rows x 269 columns]

In [27]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd
# Load your dataset
frequent_itemsets = apriori(binary_df, min_support=0.01, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
# Filter rules based on desired metrics
#rules
filtered_rules = pd.DataFrame(rules[(rules['confidence'] > 0.01) & (rules['lift'] > 0.05)])
#
# # Print the filtered rules
print(filtered_rules)

/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/tmp/pip_packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

                      antecedents                   consequents  \
0                          (beef)            (other vegetables)
1              (other vegetables)                        (beef)
2                          (beef)                  (rolls/buns)
3                    (rolls/buns)                        (beef)
4                          (beef)             (root vegetables)
..                            ...                           ...
629          (yogurt, whole milk)              (tropical fruit)
630  (tropical fruit, whole milk)                      (yogurt)
631                      (yogurt)  (tropical fruit, whole milk)
632              (tropical fruit)          (yogurt, whole milk)
633                  (whole milk)      (yogurt, tropical fruit)

     antecedent support  consequent support   support  confidence      lift  \
0              0.040855            0.150760  0.016441    0.402414  2.669232
1              0.150760            0.040855  0.016441    0.109051  2.669232
2              0.040855            0.140567  0.011508    0.281690  2.003954
3              0.140567            0.040855  0.011508    0.081871  2.003954
4              0.040855            0.086067  0.014386    0.352113  4.091166
..                  ...                 ...       ...         ...       ...
629            0.046691            0.082861  0.012906    0.276408  3.335822
630            0.035347            0.109248  0.012906    0.365116  3.342091
631            0.109248            0.035347  0.012906    0.118134  3.342091
632            0.082861            0.046691  0.012906    0.155754  3.335822
633            0.195890            0.024003  0.012906    0.065883  2.744763

     leverage  conviction  zhangs_metric
0    0.010281    1.421118       0.651998
1    0.010281    1.076544       0.736377
2    0.005766    1.196465       0.522326
3    0.005766    1.044674       0.582927
4    0.010869    1.410636       0.787755
..        ...         ...            ...
629  0.009037    1.267482       0.734520
630  0.009044    1.403016       0.726465
631  0.009044    1.093877       0.786735
632  0.009037    1.129183       0.763487
633  0.008204    1.044834       0.790526

[634 rows x 10 columns]

In [26]:
#pip install mlxtend

/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [7]:
filtered_rules

/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(beef),(other vegetables),0.040855,0.150760,0.016441,0.402414,2.669232,0.010281,1.421118,0.651998
1,(other vegetables),(beef),0.150760,0.040855,0.016441,0.109051,2.669232,0.010281,1.076544,0.736377
2,(beef),(rolls/buns),0.040855,0.140567,0.011508,0.281690,2.003954,0.005766,1.196465,0.522326
3,(rolls/buns),(beef),0.140567,0.040855,0.011508,0.081871,2.003954,0.005766,1.044674,0.582927
4,(beef),(root vegetables),0.040855,0.086067,0.014386,0.352113,4.091166,0.010869,1.410636,0.787755
...,...,...,...,...,...,...,...,...,...,...
629,"(yogurt, whole milk)",(tropical fruit),0.046691,0.082861,0.012906,0.276408,3.335822,0.009037,1.267482,0.734520
630,"(tropical fruit, whole milk)",(yogurt),0.035347,0.109248,0.012906,0.365116,3.342091,0.009044,1.403016,0.726465
631,(yogurt),"(tropical fruit, whole milk)",0.109248,0.035347,0.012906,0.118134,3.342091,0.009044,1.093877,0.786735
632,(tropical fruit),"(yogurt, whole milk)",0.082861,0.046691,0.012906,0.155754,3.335822,0.009037,1.129183,0.763487
633,(whole milk),"(yogurt, tropical fruit)",0.195890,0.024003,0.012906,0.065883,2.744763,0.008204,1.044834,0.790526

In [14]:
import json
filtered_rules['antecedents'] = list(filtered_rules['antecedents'])

/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [38]:
file = 'filtered_rules.xlsx'
filtered_rules.to_excel(file , index=False)

/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [39]:
from refractio import snowflake
snowflake.execute_query(f"PUT file://{file} @FDC.INSIGHT_DESIGNER.INSIGHT_STAGE")

/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Exception occurred in execute_query: Unknown error

In [31]:
pip install openpyxl

/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/6a/94/a59521de836ef0da54aaf50da6c4da8fb4072fb3053fa71f052fd9399e7a/openpyxl-3.1.2-py2.py3-none-any.whl (249kB)
     |████████████████████████████████| 256kB 19.0MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading https://files.pythonhosted.org/packages/96/c2/3dd434b0108730014f1b96fd286040dc3bcb70066346f7e01ec2ac95865f/et_xmlfile-1.1.0-py3-none-any.whl
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
WARNING: You are using pip version 19.3.1; however, version 24.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [29]:
filtered_rules = pd.DataFrame(filtered_rules)
filtered_rules

/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(beef),(other vegetables),0.040855,0.150760,0.016441,0.402414,2.669232,0.010281,1.421118,0.651998
1,(other vegetables),(beef),0.150760,0.040855,0.016441,0.109051,2.669232,0.010281,1.076544,0.736377
2,(beef),(rolls/buns),0.040855,0.140567,0.011508,0.281690,2.003954,0.005766,1.196465,0.522326
3,(rolls/buns),(beef),0.140567,0.040855,0.011508,0.081871,2.003954,0.005766,1.044674,0.582927
4,(beef),(root vegetables),0.040855,0.086067,0.014386,0.352113,4.091166,0.010869,1.410636,0.787755
...,...,...,...,...,...,...,...,...,...,...
629,"(yogurt, whole milk)",(tropical fruit),0.046691,0.082861,0.012906,0.276408,3.335822,0.009037,1.267482,0.734520
630,"(tropical fruit, whole milk)",(yogurt),0.035347,0.109248,0.012906,0.365116,3.342091,0.009044,1.403016,0.726465
631,(yogurt),"(tropical fruit, whole milk)",0.109248,0.035347,0.012906,0.118134,3.342091,0.009044,1.093877,0.786735
632,(tropical fruit),"(yogurt, whole milk)",0.082861,0.046691,0.012906,0.155754,3.335822,0.009037,1.129183,0.763487
633,(whole milk),"(yogurt, tropical fruit)",0.195890,0.024003,0.012906,0.065883,2.744763,0.008204,1.044834,0.790526

In [32]:
filtered_rules.to_excel('filtered_rules.xlsx')

/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)